body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    max-width: 600px;
    text-align: center;
  }
  
  .form-control {
    font-size: 18px;
    padding: 12px 20px;
    height: 60px;
    margin-bottom: 20px;
  }
  